.app-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 140px;
}

.app-cont > h1 {
    color: white;
    font-size: 48px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-weight: 400;
}