.team-cont {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.new-team-btn {
    width: 260px;
    height: 50px;
    border: 1px solid black;
    background-color: yellow;
    border-radius: 30px;
    font-size: 20px;
    color: black;
    transition: all 0.3s;;
}

.new-team-btn:hover {
    border: 1px solid yellow;
    background-color: black;
    border-radius: 30px;
    font-size: 20px;
    color: yellow;
    cursor: pointer;
}

.outer-team-cont {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}